<!DOCTYPE HTML>
<html lang="en-US">
<head>  

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Leaflet  CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>


    <!-- java script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3-dsv.v2.min.js"></script>
    <script src="https://d3js.org/d3-fetch.v2.min.js"></script>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

</head>
<body>

    <div id="mapid" style=" position: fixed;
                            top: 54px;
                            left: 0;
                            bottom: 40px;
                            right: 0;
                            overflow: auto;"></div>
    <div id="map"></div>
    <script type=text/javascript>
        const myIcon = L.icon({
        iconUrl: 'https://cdn.iconscout.com/icon/free/png-256/house-home-building-infrastructure-real-estate-resident-emoj-symbol-1-30743.png',
        // ...
        iconSize:     [100, 100]
        });
        function GetURLParameter(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) 
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) 
                {
                    return sParameterName[1];
                }
            }
        }
        var id = GetURLParameter('id')

        var map = L.map('mapid').setView([10.762622, 106.660172], 13);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(map);
        d3.csv("/data_pick30.csv").then(function(data) {
        data.forEach(function(d) {
            if (d.id == id){
                var marker = new L.Marker(
                [d.lat,d.long], 
                {
                id: d.id,
                position_street: d.position_street,
                icon: myIcon,
                }
                )
                .addTo(map)
                .bindPopup(popup_string(d)).openPopup()
                .on('click', function(e){
                    var form = document.getElementById(d.id);
                    console.log(form);
                    $('#'+d.id).submit(function(e) {
                    console.log('gettt')
                    
                    e.preventDefault();
                });
                   
            })
;;
            
            }
            else{
                var marker = new L.Marker(
                [d.lat,d.long], 
                {
                id: d.id,
                position_street: d.position_street,
                }
                )
                .addTo(map)
                // .bindPopup('Nhà ở '+pos_street(d.position_street)+' đường '+d.address_street+', ID: <a href="{{ url_for('form') }}?id='+d.id+'"> '+d.id+'</a> <br> ').openPopup();;
                .bindPopup(popup_string(d)).openPopup()
                .on('click', function(e){
                    var form = document.getElementById(d.id);
                    console.log(form);
                    $('#'+d.id).submit(function(e) {
                    $.post("/receivedata", {"id1": id,"id2":d.id,"class":$('option:selected').val()})
                    
                    e.preventDefault();
                    });
                   
            })
                
            }
            
        });
        })

        function pos_street(position_street) {
            if (position_street==1){return "mặt tiền"};
            if (position_street==2){return "góc 2 mặt tiền"};
            if (position_street==3){return "hẻm 1 sẹc"};
            if (position_street==4){return "hẻm 2 sẹc trở lên"};
            if (position_street==5){return "hai mặt tiền hẻm"};
            if (position_street==6){return "hẻm"};
            return "Khác"
        }

        function transaction_type_r(transaction_type) {
            if (transaction_type==1){return "bán"};
            if (transaction_type==2){return "thuê"};
            if (transaction_type==3){return "sang nhượng"};
            if (transaction_type==4){return "vừa bán vừa thuê"};
            if (transaction_type==5){return "bán, đang cho thuê, có giá thuê"};
            if (transaction_type==6){return "bán, đang cho thuê, không có giá thuê"};
            return "Khác"
        }
        function popup_string(d){
            ret = 'Vị trí nhà ở: '+pos_street(d.position_street)+'<br> Đường: '+d.address_street+'<br> ID: <a href="{{ url_for('form') }}?id='+d.id+'"> '+d.id+'</a>';
            
            if (d.price_sell != '0'){ret = ret + '<br> Giá bán: ' +d.price_sell}
            if (d.price_rent != '0'){ret = ret + '<br> Giá cho thuê : ' +d.price_rent}
            ret = ret + '<br> Toạ độ: ' +d.coordinate;
            ret = ret + '<br> Tiêu đề post: ' +d.title;
            ret = ret + '<br> Ngày đăng: ' + new Date(d.post_date * 1000).toISOString().slice(0, 19).replace('T', ' ');
            ret = ret + '<br> <a href="{{ url_for('label') }}?id='+d.id+'"> Gán nhãn cho BĐS này</a>';
            ret = ret + '<br> <a href="'+d.link+'">Link bài viết</a>';
            ret = ret + '<form id = "'+d.id+'">';
            ret = ret + '<br> <label for="position_street">Xếp hạng mức tương quan</label>\
            <select id="position_street">\
            <option value="1" selected>1</option>\
            <option value="2" >2</option>\
            <option value="3" >3</option>\
            <option value="4" >4</option>\
            <option value="5" >5</option>\
            <option value="6" >6</option>\
            <option value="7" >7</option>\
            <option value="8" >8</option>\
            <option value="9" >9</option>\
            <option value="10" >10</option>\
            </select>\
            <br>\
            <button id="button-submit" type="submit" >Gán nhãn</button>\
            </form>'
            
            return ret;
        }
    
        // <label for="input-price">Giá mới:</label>\
        // <input id="input-price" class="popup-input" type="number" value= /><br>\

        function markerOnClick(e)
        {
        }
 

    </script>


</body>
</html>